/* Aplica la fuente a todos los elementos */
* {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#iconoEdu {
    width: 4rem;
    height: 4rem;
    padding-left: 1.5rem;
}
#iconoExp{
    width: 4rem;
    height: 4rem;
    padding-left: 1.5rem;
    
}
#iconoCont{
    width: 4rem;
    height: 4rem;
    padding-left: 1.5rem;
}
#l1{
    background-color:aqua;
    padding-top: 0.5em;
    padding-bottom: 0.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
}
#l2{
    background-color: skyblue;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
}
#l3{
    background-color:rgb(163, 19, 163);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
}
#l4{
    background-color: orange;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
}
#l5{
    background-color:rgb(226, 57, 57);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
}
#l6{
    background-color:yellow;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
}


section#indices {
    display: flex;
    align-items: center; /* Centra los hijos horizontalmente */
    justify-content: center; /* Centra los hijos horizontalmente */
}

/* Centra y pone en negrita el título principal */
h1 {
    text-align: center;
    font-weight: bold;
    font-family: 'tangarine', serif;
    color: #b8e6e6;
}

/* Selector por id para #photo */
#photo {
    padding: 1rem 2rem;
    width: 8vw;
    height: auto;
}

/* Selector por clase para .subtitle */
.subtitle {
    color: rgb(151 156 165 / 0.89);
    text-transform: uppercase;
}
#perfil {
    display: grid;
    align-items: center;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
}

#perfil p {
    margin: 0;
    font-weight: bold;
}

#perfil ol {
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0; /* Elimina el padding por defecto */
    margin: 0; /* Elimina el margen por defecto */
}
nav a {
    display: flex;
    text-decoration: none; 
    color: #ffffff; 
    padding: 1rem 1rem; 
    justify-content: space-between;
    align-items: center;
    flex-direction: row; /* Organiza los hijos en una fila horizontal */
    color: white;
    font-style: bold;
    padding: 0.5rem 1rem; /* Espacio interno */
}

footer p{
    text-align: right;
    font-style: italic;
}
nav {
   padding-top: 0.2rem;
   padding-bottom: 0.2rem;
}


section {

    margin: 0 0 0 0;   /* Menos espacio externo */
    padding: 0.0% 0.0%;

    /* Margen inferior ajustado */
    margin-bottom: 1.2rem;
    padding-left: 0;
    padding-right: 0;
}
section > form {
    display: grid;
    grid-template-columns: 1fr; /* Una sola columna que ocupa todo el ancho disponible */
    gap: 1rem; /* Espacio uniforme entre filas y columnas */
    row-gap: 1rem;
    column-gap: 1rem;

}
/*section#referencias  {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
section#referencias h2 {
    flex: 0 0 100%;
}
section#referencias article {
     flex: 0 0 calc(33.333% - 1rem);
}*/
#referencias {
    display: grid;
    grid-template-areas: "sub sub sub"
                        "art1 art2 art3";

    gap: 1rem;
        
}
#referencias h2 {
    grid-area: sub;
    text-align: center;
    font-weight: bold;
    margin: 0; 
}
#referencias > .subtitle {
    grid-column: 1 / -1;
}
