/* Aplica la fuente a todos los elementos */
* {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}
header {
    color: #fff;
    padding: 20px 0;    
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
header h1 {
    font-size: 48px;
    margin: 0;
}

[id^="icono"] {
    margin-right: 20px;
    mix-blend-mode: lighten;
    object-fit: contain;
}


#iconoHabi, #iconoProy, #iconoRef {
    filter: invert(1);
    
}

#iconoEdu,
#iconoExp,
#iconoCont,
#iconoHabi,
#iconoProy,
#iconoRef {
    width: 2.5rem;   /* Tamaño más pequeño de íconos */
    height: 2.5rem;
    padding-left: 0.2rem; /* Reducir padding izquierdo */
}
#l1{
    background-color: #007BFF;
    padding-top: 0.5em;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
#l2{
    background-color: #17A2B8;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
#l3{
    background-color: #6F42C1;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
#l4{
    background-color: #FD7E14;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
#l5{
    background-color: #DC3545;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
#l6{
    background-color: #FFC107;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}


#indices {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 15px;
    max-width: 100%;

}

.item-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1;
    text-decoration: none;
    transition: background-color 0.3s;
    color: white;
    border-radius: 5px;
    padding: 8px 12px;  
}


.item-nav:hover {
  background-color: #007acc;
}


.item-nav span {
  font-size: 14px;
  justify-content: center;
}


/* Centra y pone en negrita el título principal */
h1 {
    text-align: center;
    font-weight: bold;
    font-family: 'tangarine', serif;
    color: #b8e6e6;
    margin-top: 1rem;
    margin-bottom: 1.5rem;

}

/* Selector por id para #photo */
#photo {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #000000;
    margin-bottom: 10px;
    grid-template-areas: img;
}

/* Selector por clase para .subtitle */
.subtitle {
    color: #003366;
    font-size: 28px;
    border-bottom: 2px solid #005fa3;
    padding-bottom: 8px;
    margin-bottom: 20px;

}
#perfil {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 30px 20px;
    background-color: #fdfdfd;
    border-radius: 10px;
    margin: 20px auto;
    text-align:justify;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    grid-template-areas:
    "img titulo titulo titulo"
    "parrafo parrafo ul ol";
}
#perfil h2 {
    grid-area: titulo;
    font-size: 24px;
    margin-bottom: 10px;
}

#perfil p {
    grid-area: parrafo;
    font-size: 16px;
    margin-bottom: 10px;
    width: 75%;
}

#perfil ul{

    grid-area: ul;
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 8px;
    list-style-position: inside;
}
#perfil ol {
    grid-area: ol;
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 8px;
    list-style-position: inside;

}
a {
    
    font-weight: bold;
    font-size: 0.75rem; /* Tamaño más pequeño para el texto */

}

footer p{
    text-align: right;
    font-style: italic;
    font-size: 0.8rem;
    padding: 1rem;
}


section {
    max-width: 1200px;
    border-radius: 10px;    
    margin: 20px auto;
    padding: 40px 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
    background-color: #fff;
    /* Margen inferior ajustado */
    margin-bottom: 1.5rem;
    align-items: center;
}
ol, ul {
    text-align: left;
    display: inline-block;
    margin: 10px auto;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
table th, table td {
    padding: 12px;
    text-align: center;
}

table th {
    color: #003366;
}
section > form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 600px;
    margin: 0 auto;
}
input[type="text"],
select,
textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #aaa;
    border-radius: 4px;
}

button {
    padding: 10px;
    font-size: 16px;
    background-color: #005fa3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #007acc;
}
#referencias {
    display: grid;
    grid-template-areas: "sub sub sub"
                        "art1 art2 art3";

    gap: 1rem;
    padding: 1rem;
    background-color: #f9f9f9;
    border-radius: 0.5rem;
}
#referencias h2 {
    grid-area: sub;
    text-align: center;
    font-weight: bold;
    margin: 0.5rem; 
}
#referencias > .subtitle {
    grid-column: 1 / -1;
    text-align: center;
    margin-bottom: 0.5rem;
}
#referencias article {
    background-color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 25px;
    text-align: justify;
}
blockquote {
    font-style: italic;
    color: #555;
    border-left: 4px solid #005fa3;
    padding-left: 10px;
    margin-bottom: 5px;
}


